*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------------Inicio-------------------*/
.section-1-bg {
    background-image: url(/img/1230148.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}



aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icon-menu img{
    max-width: 45px;
    width: 100%;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;
}
#barra-menu{
    background: #08023a;
    height: 100vh;
    width: 0;
    transition: 0.3s all;
}
#barra-menu ul li{
    list-style: none;
    padding: 15px;
}
#barra-menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
}
#barra-menu ul li a:hover {
    border: solid 1px #c229aa;
    padding: 8px;
    border-radius: 15px;
    background: #7601c4;
}
.c-icon {
    margin-top: 100%;
    display: flex;
    justify-content:  center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}
.c-icon span{
    color: aliceblue;

}
.c-icon span:hover{
    transition: 0.2s;
    transform:  0.5s;
    color: #c229aa;
}
.main-title {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    margin-left: 20%;
    flex-wrap: wrap;
}
.main-title h1 {
    font-size: 70px;
    color: aliceblue;
    margin-top: 15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    letter-spacing: 2px;
}
.main-title h2 {
    color: #fe002d;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-title button {
    max-width: 25%;
    width: 25%;
    margin-top: 80px;
    padding: 8px 15px;
    font-size: 20px;
    background-color: #fe002d;
    border-radius: 50px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    transition-duration: .9s;
}
.main-title button:hover {
    border: solid 1px aliceblue;
    transition: 0.7s;
    background: transparent;
}
.main-title h5 {
    color: aliceblue;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    letter-spacing: 2px;
    font-weight: 200px;
}
.skill {
    display: flex;
    margin-top: 35px;
    color: aliceblue;
    gap: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.title h3 {
    font-size: 35px;
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
} 
.title p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
.title:hover {
    transition: 1.2;   
    transform: scale(1.1);
}
.main-title2 {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    margin-left: 20%;
    flex-wrap: wrap;
}
.main-title2 h1 {
    font-size: 70px;
    color:rgb(13, 134, 240);
    margin-top: 15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    letter-spacing: 2px;
}
.main-title2 h2 {
    color: rgb(13, 134, 240);
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-title2 h5 {
    color: aliceblue;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    letter-spacing: 2px;
    font-weight: 200px;
}
@media screen and (max-width: 414px){
    .main-title h1 {
        font-size: 40px;
        margin-top: 75%;
        margin-right: 15%;
    }
    .main-title h2 {
        font-size: 25px;
        margin-right: 15%;
    }
    .main-title button {
       width: 150px;
    }
    .skill {
        margin-right: 25%;
        margin-top: 50%;
        
    }
}
